
/* views **************************/
@media only screen and (min-width: 576px) and (max-width:968px) {
    h1{
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
	main {
        font-size: 1rem;
        display: grid;
		grid-template-columns: 1fr 1fr ;
        margin: 15px;
        margin-top: 15px;
		
	}
    .repetition, .proximity, .alignment {
		width: 88%;
        margin: 15px;
        margin-top: 15px;
	}
    

	.colimage{
		width: 60%;
	}
    footer {
        font-size: 0.9rem;
    }
	p{
		font-size: 1rem;
		padding: 10px;
	}
}