
body{
    background-color: #90e0ef;
}
h1, h2 {text-align: center;}
header, footer {
    background-color: #03045e;
    padding: 3rem;
    color: white;
}
main {
    margin: 0 auto;
    max-width: 18.75rem;
    width: 300px;
    display: flex;

    flex-direction: column;
}

main img {
    margin: .5rem;
    filter: blur(0em);
    transition: filter .5s;
}
main img[data-src] {filter: blur(.2rem);}

footer{
    text-align: center;

}