
@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 200px;
        background-color: #d6ece7;
        padding: 5px 0;
        display: block;
        margin: 0 auto;
        text-decoration: none;
        color: black;
        font-size: 38px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }

    h1 {
        font-size: 2rem
    }

    .home-grid {
        display: block;
        grid-template-columns: repeat(1fr, 3fr, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }

      h1 {
        font-size: 2rem
    }

    h1{
        color: #061b6c; 
    }
    
    .just {
        display: flex;
        justify-content:space-between;
    
    }
    footer p{
        font-size: 10px;
    }
    
    .myfooter1{
        display: block;
        align-items: end;
        justify-content: space-around;	
        
    }
    .myfooter2{
        font-size: 20px;
        text-align: center;
        border-top: 2px solid rgb(12, 18, 19);
        padding: 15px;
        margin: 15px;
        
    }
    

    nav button {
        margin: 2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: antiquewhite;
    }
    nav {
        text-align: end;
        background-color: azure;}
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: blanchedalmond;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    
    }
    nav ul li a:hover {
        background-color: antiquewhite;
    }

}