body {
	padding: 0;
	margin: 0;
}
body {
    font-family: 'Tangerine', serif;
    font-size: 40px;
	background-color: rgb(245, 240, 233);
  }

	h1 {
        font-size: 2rem
    }
    
    #hamButton {
        display: none; /* hide hamburger button */
    } 
    
   

header {
	width: 100%;
	height: 200px;
	background-color: #d6ece7;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	text-decoration: none;
    color: black;
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}
h1{
	color: #061b6c; 
}

.just {
	display: flex;
	justify-content:space-between;

}

.logo {
	display: flex;
	float: left;
	margin-left: 1rem;
    float: right;
}
nav {
	margin: 15px;
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
    font-size: 10px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 450px;
	
	
	
}

nav a {
    
    text-decoration: none;
	padding: 5px;
    text-align: center;
    font-size: 2rem;
	color: #061b6c;
}
nav a:hover {

	color: wheat;
	border-radius: 5px;
	background-color: rgb(5, 119, 81);
	
  }

 

.social{
    display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	position: absolute;
	float: right;

}

.logo img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.25rem;
}

.m {
	letter-spacing: 1pt;
	color: darkgreen;
	font-weight: 700;
	font-size: 1rem;
}

.social {
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	display: flex;
	position: absolute;
	top: 59px;
	align-items: end;
	left: 1200px;
}

.social svg {
	width: 42px;
	height: auto;
	justify-content: space-between;

}

time,
aside {
	margin: 0.3rem;
	border: 1px solid #bbb;
	padding: 0.55rem 1rem;
	background-color: #eee;
	text-align: center;
	position: absolute;	
	font-size: 24px;
	top: 120px;
    width: 100%;
    color: white;
    background-color: rgb(5, 119, 81);;
    opacity: 0.6;
}





.home-grid {
    display: grid;
    grid-template-columns: repeat(1fr, 3fr, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .event {
    grid-column: 1;
    grid-row: 1;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  
  .weather {
    grid-column: 1 ;
    grid-row: 2;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .join {
    grid-column: 1;
    grid-row: 3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .hero {
    grid-column: 2;
    grid-row: 1/3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .new {
    grid-column: 2;
    grid-row: 3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;

  
  }
  .light {
    grid-column: 3;
    grid-row: 1/4;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .light1{
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee

  }
  .light2 {
   
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .light3 {
   
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
 footer {
	width: 100%;
	height: 220px;
	background-color: #d6ece7;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	text-decoration: none;
    color: black;
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
	
}
footer p{
	font-size: 18px;
}

.myfooter1{
	display: flex;
	align-items: end;
	justify-content: space-around;	
	
}
.myfooter2{
	font-size: 20px;
	text-align: center;
	border-top: 2px solid rgb(12, 18, 19);
	padding: 15px;
	margin: 15px;
	
}


















@media only screen and (min-width: 64rem) {


	h1 {
        font-size: 3.5rem
    }
    
    #hamButton {
        display: none; /* hide hamburger button */
    } 
    
   

header {
	width: 100%;
	height: 200px;
	background-color: #d6ece7;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	text-decoration: none;
    color: black;
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}
h1{
	color: #061b6c; 
}

.just {
	display: flex;
	justify-content:space-between;

}

.logo {
	display: flex;
	float: left;
	margin-left: 1rem;
    float: right;
}
nav {
	margin: 15px;
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
    font-size: 10px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 450px;
	
	
	
}

nav a {
    
    text-decoration: none;
	padding: 5px;
    text-align: center;
    font-size: 2rem;
	color: #061b6c;
}
nav a:hover {

	color: wheat;
	border-radius: 5px;
	background-color: rgb(5, 119, 81);
	
  }

 

.social{
    display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	position: absolute;
	float: right;

}

.logo img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.25rem;
}

.m {
	letter-spacing: 1pt;
	color: darkgreen;
	font-weight: 700;
	font-size: 1rem;
}

.social {
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	display: flex;
	position: absolute;
	top: 59px;
	align-items: end;
	left: 1200px;
}

.social svg {
	width: 42px;
	height: auto;
	justify-content: space-between;

}

time,
aside {
	margin: 0.3rem;
	border: 1px solid #bbb;
	padding: 0.55rem 1rem;
	background-color: #eee;
	text-align: center;
	position: absolute;	
	font-size: 24px;
	top: 120px;
    width: 100%;
    color: white;
    background-color: rgb(5, 119, 81);;
    opacity: 0.6;
}





.home-grid {
    display: grid;
    grid-template-columns: repeat(1fr, 3fr, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .event {
    grid-column: 1;
    grid-row: 1;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  
  .weather {
    grid-column: 1 ;
    grid-row: 2;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .join {
    grid-column: 1;
    grid-row: 3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .hero {
    grid-column: 2;
    grid-row: 1/3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .new {
    grid-column: 2;
    grid-row: 3;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;

  
  }
  .light {
    grid-column: 3;
    grid-row: 1/4;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .light1{
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee

  }
  .light2 {
   
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
  .light3 {
   
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
  }
 footer {
	width: 100%;
	height: 220px;
	background-color: #d6ece7;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	text-decoration: none;
    color: black;
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
	
}
footer p{
	font-size: 18px;
}

.myfooter1{
	display: flex;
	align-items: end;
	justify-content: space-around;	
	
}
.myfooter2{
	font-size: 20px;
	text-align: center;
	border-top: 2px solid rgb(12, 18, 19);
	padding: 15px;
	margin: 15px;
	
}



}

