@media screen and (min-width: 35rem) {
    /* HEADER */
    body {
        font-size: 1.1rem;
    }
    #chambermeet {
        height: 40px;
    }
    header img {
		width: 80%;
	}

	.headings h1 {
		font-size: 1.9rem;
		margin: 0;
	}

	.m {
		letter-spacing: .1pt;
		font-size: 1rem;
	}
    
    .social {
        margin-right: 1.5rem;
    }
    .social img{
        width: 32px;
    }
   
/*Main*/

.mainIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .mainPart4 {
    grid-area: 1 / 1 / 2 / 5;
    height: 500px;
  }
  .gridArea5 {
    grid-area: 2 / 1 / 3 / 5;
    height: 220px;
  }

  .mainPart3 {
    grid-area: 5 / 1 / 6 / 5;
    height: 175px;
    display: block;
    border: solid  rgb(115, 81, 81);
    box-shadow: 3px 3px 30px  rgb(82, 9, 9);
    color: white;
  }

  .spotlights {
    height: 500px;
  }

  .spotlight2 {
    grid-area: 3 / 3 / 5 / 5;
    height: 230px;
  }
  .spotlight1 {
    grid-area: 3 / 1 / 5 / 3;
    height: 230px;
  }

  .mainPart1 {
    grid-area: 7 / 1 / 7 / 3;
    height: 260px;
  }
  .mainPart2 {
    grid-area: 7 / 3 / 7 / 5;
    height: 260px;
  }
  .spotlight3 {
    display: none;
  }


      /* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color:  rgb(82, 9, 9);
    text-align: center;
    padding: .5rem .5rem;
    margin-top: 1.5rem;
}
.footer-title {
    font-weight: bold;
    margin: 0;
}
.footer-address {
    margin-top: .2rem;
    margin-bottom: .8rem;
    font-style: italic;
    font-size: .9rem;
}
.footer-email, .footer-phone-number {
    margin-bottom: 0;
    margin-top: .2rem;
    font-size: .9rem;
}
.footer-location {
    margin-top: .7rem;
    text-decoration: none;
    color: black;
    font-size: .85rem;
}
.footer-section1 {
    font-size: 1rem;
}
.footer-section2 {
    margin-bottom: 1rem;
}
.footer-section3 {
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.home-footer-logo {
    margin: 0 auto;
    width: 15%;
}
.home-footer-logo img {
    width: 100px;
}
.hide-join, .hide-spotlight, .footer-section4 {display: none;}
.footer-wdd230 .footer-separator {display: none;}
.copyright, .footer-name, .lastmodified, .footer-wdd230 {
    margin: .15rem;
}
.footer-name {
    font-weight: bold;
}
 /* DISCOVER PAGE */

 .infoDiscover {
       
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.titlediscover h2 {
  font-size: 1.9rem;
}

.titlediscover h3 {
  font-size: 1rem;
}
.discover p{
font-size: 18px;
}

    

















}