@media only screen and (min-width: 35rem) {
    header {
        width: 100%;
        height: 200px;
        background-color: #d6ece7;
        padding: 5px 0;
        display: block;
        margin: 0 auto;
        text-decoration: none;
        color: black;
        font-size: 38px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }

    h1 {
        font-size: 2rem
    }

    nav button {
        margin: 2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: antiquewhite;
    }
    nav {
        text-align: end;
        background-color: azure;}
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: blanchedalmond;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    
    }
    nav ul li a:hover {
        background-color: antiquewhite;
    }

}