




@media (min-width: 600px) {
    h1{font-size: 1.3rem;}

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    main div {
        min-height: 150px;
        height: 100%;
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/4;
        grid-row: 4/5;
        display: block;
    }
    aside {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    aside {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    aside div {
        width: 100%;
       
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
   
    footer {
        display: flex;
        display: grid;
    }
    .footerlogo {
        display: flex;
    }
    
}



















































/*@media only screen and (min-width: 35rem) {
    
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2.3rem;
		margin: 0;
	}

	.m {
		letter-spacing: .1pt;
		font-size: 1.3rem;
	}

    
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}
#hamButton{
	display: none;
} */

    /*
    body{
        font-size: 1.1rem;
    }
    nav button{
        display: none;
    }
    nav ul #navigation{
        display: flex;
        flex-direction: row;
        border-left: 1px solid gray;
        justify-content: center;
        align-items: center;
    }
    nav ul li a{
        border:none;

    }
    .logo img{
        width: 100%;

    }
    h1{
        font-size: 2.2rem;
    }
    .social{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    main{
        grid-template-columns: repeat(3, fr);
    }
    
    .hero h2{ 
       font-size: 1.3rem;
    }
    .hero{
        grid-column: 1/4;
        grid-row: 1;
    }
    .book{
       font-size: 1.4rem;
    }
    .new {
        grid-template-columns: 1/4;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .weather {
       grid-column: 4/5;
       grid-row: 6;
       font-size: .9rem;
    }
  
    .event { 
        grid-column: 1/4; grid-row: 6; 
        display: grid; 
        grid-template-rows: repeat(2, 1fr); }
    .join { grid-column: 1/5; grid-row: 4; padding: 2rem; } 
    .join p { margin-top: 2rem; } 
    .joinus { 
        background-color: #008000;
        text-decoration: none;
        color: white; padding: 1rem; 
        padding-left: 5rem; padding-right: 5rem; 
        box-shadow: 3px 3px 5px 1px #333; 
    } 
    .joinus:hover {
         background-color: rgba(56, 176, 0, .9);
        } 
   
    .light{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/5;
        grid-row: 3;
        font: 1rem
    }
    
    .light section{
        padding-top: .3rem;
        padding-bottom: .3rem;
        margin: .3rem .3rem;
        border: 1px black;
        box-shadow: 1px 1px 3px 1px #333;
    }
    #light1{
        grid-column: 1;
    }
    #light2{
        grid-column: 1;
    }
    #light3{
        grid-column: 1;
    }
    
    footer{
        grid-template-columns: repeat(4, 1fr);
        background-color: aqua;
        font-size: 1rem;
    }
    .mail, .location{
        margin-bottom: 0;
        margin-top: .2rem;
        font-size: .9rem;
    }
    .location{
        margin-top: .7rem;
        text-decoration: none;
        color: black;
        font-size: .85rem;
    }
    .myfooter1{
        grid-column: 1/4;
        grid-row: 1;
        display: inline-flex;
        text-align: left;
        align-items: center;
    
    }
    .myfooter2{
        grid-column: 4;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    
    }
    .myfooter3{
        grid-column: 1/5;
        grid-row: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
    
    }
    .myfooter{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        min-width: 15%;
        max-width: 15%;
    }
    .footerlogo{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        min-width: 15%;
        max-width: 15%;
    }
    .footerlogo img {
       width: 80%;
    }
    
    */
    
    
    
    
    
    