body {
    text-align: center;
    background-color: #C8B88A;
}

header {
    
    background-color: #476930;
    padding: .5rem;
    color: white
}
main{

    padding-top: 10rem;
    padding-bottom: 5rem;
    
   
    
}
p{
    font-size: 18px;
}


footer {
    
    background-color: #476930;
    padding: .8rem;
    color: white
   
}

